@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
body{
  background-image: url("pexels-pavel-danilyuk-8294650.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
.main {
  min-height: 100vh;
  position: relative;
  width: 100%;
  /* background: rgb(135, 116, 116); */
  /* background-image: url("pexels-pavel-danilyuk-8294650.jpg");
  background-repeat: no-repeat;
  background-size:cover; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.intr{
    color: #239dad;
}
.ent{
  text-align: center;
  color: #79eafc;
margin-bottom: 7px;}
.d1{
  margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info2 {
    display: block;
    width: 360px;
    padding: 15px;
    
    appearance: none;
    background: none;
    border: none;
    outline: none;
  
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    margin-top: -15px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 5px rgba(37, 37, 37, 0.2);
    
    color: #239dad;
    font-size: 20px;
  
    transition: 0.4s ease;
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255, 0.8);
    background: rgba(255,255,255, 0.1);
    
}
.info {
    display: block;
    width: 380px;
    padding: 15px;
    
    appearance: none;
    background: none;
    border: none;
    outline: none;
  
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    margin-top: -25px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 5px rgba(37, 37, 37, 0.2);
    
    color: #239dad;
    font-size: 20px;
  
    transition: 0.4s ease;
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255, 0.8);
    background: rgba(255,255,255, 0.1);
    
}
.main .image-container {
  padding: 10px;
}

.main .image-container .image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.main .image-container .image img {
  width: 170px;
  align-items: center;
  background: hide;
}

.main .image-container h1 {
  color: #239dad;
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}

.main .image-container p {
  color: #3d8286;
  text-align: center;
  margin-bottom: 40px;
}

.main .input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 50px;
  border-radius: 20px;
  background: rgba(47, 172, 177, 0.5);
}

.main .input .talk {
  background: transparent;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}

.main .input .talk i {
  font-size: 20px;
  color: #aed0d0;
}

.main .input .content {
  color: #aed0d0;
  font-size: 15px;
  margin-right: 20px;
}
.sidebar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.xx{
  margin-top: 0;
  position: sticky;
}
footer{
  margin-bottom: auto;
}